---
import ScrollTopButton from '../components/ScrollTopButton.astro';
import WhatsappButton from '../components/WhatsappButton.astro';		
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/2.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mintaka | Internet para empresas </title>
	</head>
	<body>
		<slot />
		<!-- Botones flotantes -->
		<WhatsappButton />
		<ScrollTopButton />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
